@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>UNIVERSIDADE DE BONIFÁCIO</h1>
        <img src="~/Resources/Universidade.jpg" class="btn-group-justified" alt="University Photo" />
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Informatic and Electronics Engineering</h2>
        <p>Study the future</p>
        <p><a class="btn btn-default" href="https://localhost:44387/Course/Details/1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Super Chemistry Engineering</h2>
        <p>You could be the new Walter White.</p>
        <p><a class="btn btn-default" href="https://localhost:44387/Course/Details/20">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Very Stupid Course</h2>
        <p>We can't all be good</p>
        <p><a class="btn btn-default" href="https://localhost:44387/Course/Details/39">Learn more &raquo;</a></p>
    </div>
</div>