@model IEnumerable<University_II.ViewModels.TeacherStudentsAndGradesViewModel>
@{
    ViewBag.Title = "TeacherStudentsAndGrades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teacher's Students and Grades</h2>

<table class="table">

    <tr>
        <th>Subject</th>
        <th>Student</th>
        <th>Grade</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentSubject.Grade)
            </td>
        </tr>
    }


    @Html.ActionLink("Back To List", "Details", "Teacher", new { teacherId = Model.AsEnumerable().ElementAt(Model.Count() -1).TeacherId }, null)

</table>
